@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Manufacturing is the making of goods by hand or b
    y machine that upon completion the business sells to a 
    customer. Items used in manufacture may be raw materials or co
    mponent parts of a larger product. The manufacturing usually happens on a 
    large-scale production line of machinery and skilled labor..</p>

