@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>

    @*<h2>Images Side by Side</h2>
    <p>How to create side-by-side images with the CSS float property:</p>*@

    <div class="row">

        <div class="column">
            <h2>
                Manufacturer
            </h2>
            <a href="@Url.Action("Index","Manufacturer")"><img src="/Content/img/manufacturer.jpg" style="width:100%" /></a>
        </div>


        <div class="column">
            <h2>
                Product
            </h2>
            <a href="@Url.Action("Index","Product")"><img src="/Content/img/gallery-img-02-tn.jpg" style="width:100%" /></a>

        </div>
        <div class="column">
            <h2>
                Category
            </h2>

            <a href="@Url.Action("Index","Category")"><img src="/Content/img/download.jpg" style="width:100%" /></a>
        </div>
        <div class="column">
            <h2>
                About us
            </h2>

            <a href="@Url.Action("About","Home")"><img src="/Content/img/about.jpg" style="width:100%" /></a>
        </div>


    </div>

</body>
</html>
